canvas{
border: 1px solid black;
background-color: black;
}

#scorecard
{

	font-family: "Arial";
  position:absolute;
  background-color: #FEC301; 
  color: black;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
	position:absolute;
	left:700px;
	top:150px;
	
}


